In [1]:
import numpy as np
import pandas as pd

In [2]:
df_baseball = pd.read_csv('../datasets/subreddit_baseball', usecols = ['title', 'subreddit', 'selftext'])
df_baseball.head()

,selftext,subreddit,title
0,This is a pretty stark contrast and makes the ...,baseball,Rays pitching pre sticky substance ban: 79 ERA...
1,NaN,baseball,"[Tierney] In mid-July, the Mets had a 76% chan..."
2,NaN,baseball,[Rosenthal] Padres close to signing Jake Arrie...
3,NaN,baseball,[Branson] Fergie Jenkins had most total bases ...
4,NaN,baseball,A T260 card set a world record after selling f...

In [7]:
df_baseball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   selftext   295 non-null    object
 1   subreddit  1000 non-null   object
 2   title      1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB